@font-face {
  font-family: "Platypi";
  src: url(../fonts/Platypi-Regular.ttf);
font-weight: 400;
}
@font-face {
  font-family: "Platypi";
src: url(../fonts/Platypi-Medium.ttf);
font-weight: 500;
}
@font-face {
  font-family: "Platypi";
  src: url(../fonts/Platypi-Bold.ttf);
font-weight: 700;
}