@import url(./font.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Platypi";
  font-weight: 400;
  background: #e4e6e0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.nav {
  background: #979b8d;
}
.nav__logo {
  width: 120px;
  height: auto;
  padding: 12px;
}
.nav__link {
  color: #4c5f49;
  display: flex;
  font-size: 18px;
  font-size: 18px;
  transition: 200ms;
  padding-inline: 20px;
  height: 100%;
  align-items: center;
}
.nav__link:hover {
  justify-content: space-between;
  background: #000;
  color: #e4e6e0;
}
.nav__item {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__pic {
  width: 720px;
  height: auto;
  border-radius: 3px;
}
.desc {
  display: flex;
  gap: 60px;
  padding: 45px 5px;
}
.header__heading {
  font-size: 45px;
  color: #628972;
}
.header__text {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.header__desc {
  font-size: 18px;
  line-height: 30px;
  color: #4c5f49;
}
.main__box-pic {
  width: 140px;
  height: auto;
  border-radius: 2px;
}
.main__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 230px;
  background: rgba(151, 155, 141, 0.4);
  border-radius: 5px;
}
.main__options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main__heading {
  font-size: 35px;
  text-align: center;
  margin-bottom: 45px;
  font-size: 500;
}
.main__box-link {
  color: #4c5f49;
  padding: 10px;
  font-family: "Platypi";
  font-size: 18px;
  font-weight: 700;
  transition: 700ms;
}
.main__box-link:hover {
  color: #e4e6e0;
}
.hero {
  max-width: 1450px;
  width: 100%;
  margin: auto;
}
.hero__text {
  font-size: 16px;
  font-family: "Platypi";
  font-weight: 100;
  line-height: 30px;
  text-align: center;
margin: 30px 0;
}
.hero__video {
  width: 100%;
  display: flex;
  justify-content: center;
margin-bottom: 40px;
}
.footer__pic {
  width: 100px;
  height: auto;
  padding: 12px;
}
.footer__list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
footer {
  background: #979b8d;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__item {
  display: flex;
align-items: center;
font-size: 27px;
}
.footer__link {
  color: #4c5f49;
}